[submodule "communication-ui-library-ios"]
	path = communication-ui-library-ios
	url = git@github.com:emlynmac/communication-ui-library-ios.git
[submodule "fluentui-apple"]
	path = fluentui-apple
	url = https://github.com/microsoft/fluentui-apple.git
[submodule "azure-sdk-for-ios"]
	path = azure-sdk-for-ios
	url = https://github.com/emlynmac/azure-sdk-for-ios.git
